<!doctype html>
<html lang="zxx" class="theme-light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/bootstrap.min.css')}}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/animate.min.css')}}">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/meanmenu.css')}}">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/fontawesome.min.css')}}">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/flaticon.css')}}">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/nice-select.min.css')}}">
    <!-- Odometer CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/odometer.min.css')}}">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/magnific-popup.min.css')}}">
    <!-- Carousel CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/owl.carousel.min.css')}}">
    <!-- Carousel Default CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/owl.theme.default.min.css')}}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/style.css')}}">
    <!-- Dark CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/dark.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='sign-in/assets/css/responsive.css')}}">

    <title>Doctor Portal - Medical Recommender System</title>

    <link rel="icon" type="image/png" href="{{url_for('static', filename='sign-in/assets/img/favicon.png')}}">
</head>

<body>

    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- End Preloader Area -->

    <!-- Start Header Area -->
    <header class="header-area">
        <div class="top-header">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <ul class="top-list">
                            <li>
                                <i class='flaticon-clock'></i> Mon-Sun 06-00:00
                            </li>
                            <li>
                                <i class='flaticon-phone-call'></i>
                                <a href="tel:821-456-241">Call Us: +263-776-060-788</a>
                            </li>
                            <li>
                                <i class='flaticon-paper-plane'></i>
                                <a href="/cdn-cgi/l/email-protection#49212c2525260920272f26672a2624"><span class="__cf_email__" data-cfemail="f8909d949497b891969e97d69b9795">ic@gmail.com</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <ul class="top-social">
                            <li>
                                <a href="https://www.facebook.com/login/" target="_blank" class="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/i/flow/login" target="_blank" class="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/" target="_blank" class="pinterest">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                            </li>

                            {% if current_user.is_authenticated and current_user.role == 'doctor' %}
                            <li>
                                <a href="{{ url_for('doctor_dashboard')}}" class="log-in">
                                        Doctor Dashboard
                                    </a>
                            </li>
                            <li>
                                <a href="{{ url_for('logout')}}" class="log-in">
                                        Logout
                                    </a>
                            </li>
                            {% elif current_user.is_authenticated %}
                            <li>
                                <a href="{{ url_for('logout')}}" class="log-in">
                                        Logout
                                    </a>
                            </li>
                            {% else %}

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle log-in" href="#" id="signinDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sign In
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="signinDropdown">
                                    <li><a class="dropdown-item" href="{{ url_for('patient_login') }}">Patient</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('doctor_login') }}">Doctor</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('admin_login') }}">Admin</a></li>
                                </ul>
                            </li>


                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle sign-in" href="#" id="signupDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sign Up
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="signupDropdown">
                                    <li><a class="dropdown-item" href="{{ url_for('patient_signup') }}">Patient</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('doctor_signup') }}">Doctor</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('admin_signup') }}">Admin</a></li>
                                </ul>
                            </li>
                            



            
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Navbar Area -->
        <div class="navbar-area navbar-two">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="{{url_for('index')}}">
                                <img src="{{url_for('static', filename='sign-in/assets/img/logo.png')}}" class="black-logo" alt="image">
                                <img src="{{url_for('static', filename='sign-in/assets/img/logo-2.png')}}" class="white-logo" alt="image">        
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a href="{{url_for('index')}}">
                            <img src="{{url_for('static', filename='sign-in/assets/img/logo.png')}}" class="black-logo" alt="image">
                            <img src="{{url_for('static', filename='sign-in/assets/img/logo-2.png')}}" class="white-logo" alt="image">        
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="{{url_for('index')}}" class="nav-link">
                                            Home 
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{{url_for('index')}}" class="nav-link">
                                                    Home One
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-6.html" class="nav-link">
                                                    Video Home
                                                </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="{{url_for('about')}}" class="nav-link">
                                            About
                                        </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{{url_for('services')}}" class="nav-link">
                                            Services 
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{{url_for('services')}}" class="nav-link">
                                                    Services
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('singleServices')}}" class="nav-link">
                                                    Services Details
                                                </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                            Pages 
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{{url_for('about')}}" class="nav-link">
                                                    About
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link">
                                                    Team
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                    FAQ
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('appointment')}}" class="nav-link">
                                                    Appointment
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="testimonials.html" class="nav-link">
                                                    Testimonials
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="how-it-works.html" class="nav-link">
                                                    How It Works
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                    Projects 
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="projects.html" class="nav-link">
                                                            Projects
                                                        </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="single-projects.html" class="nav-link">
                                                            Projects details
                                                        </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('solution')}}" class="nav-link">
                                                    Solution 
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="{{url_for('solution')}}" class="nav-link">
                                                            Solution
                                                        </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{{url_for('solutionDetails')}}" class="nav-link">
                                                            Solution Details
                                                        </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                    Shop 
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="shop.html" class="nav-link">
                                                            Shop
                                                        </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="cart.html" class="nav-link">
                                                            Cart
                                                        </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="checkout.html" class="nav-link">
                                                            Checkout
                                                        </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="single-product.html" class="nav-link">
                                                            Products Details
                                                        </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link active">
                                                    User 
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="{{url_for('patient_login')}}" class="nav-link">
                                                            Patient Login
                                                        </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{{url_for('doctor_login')}}" class="nav-link active">
                                                            Doctor Login
                                                        </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{{url_for('admin_login')}}" class="nav-link">
                                                            Admin Login
                                                        </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="terms-condition.html" class="nav-link">
                                                    Terms & Conditions
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                    Privacy Policy
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="error-404.html" class="nav-link">
                                                    404 Error
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('contact')}}" class="nav-link">
                                                    Contact
                                                </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="{{url_for('blog1')}}" class="nav-link">
                                            Blog 
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{{url_for('blog1')}}" class="nav-link">
                                                    Blog Grid
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('blog2')}}" class="nav-link">
                                                    Blog Right Sidebar
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{url_for('singleDetails')}}" class="nav-link">
                                                    Blog Details
                                                </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="{{url_for('contact')}}" class="nav-link">
                                            Contact
                                        </a>
                                </li>
                            </ul>

                            <div class="others-options">
                                <a href="{{url_for('appointment')}}" class="default-btn-two">
                                        Get a Quote
                                        <span></span>
                                    </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
    </header>
    <!-- End Header Area -->

    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg-2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Doctor Login</h2>
                        <ul>
                            <li><a href="{{url_for('index')}}">Home</a></li>
                            <li>Doctor Login</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Doctor Login Area -->
    <div class="sign-in-area ptb-100">
        <div class="container">
            <div class="sign-in-form">
                <div class="sign-in-title">
                    <h3>Doctor Portal</h3>
                    <p>Access patient records and manage appointments</p>
                    <div class="col-md-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>

                <form method="POST" action="{{ url_for('doctor_login') }}">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label") }}
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    {{ form.license_number.label(class="form-control-label") }}
                                    {% if form.license_number.errors %}
                                        {{ form.license_number(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.license_number.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.license_number(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-check">
                                    {{ form.remember(class="form-check-input") }}
                                    {{ form.remember.label(class="form-check-label") }}
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="col-lg-12 text-end">
                        <p class="forgot-password">
                            <a href="#">Forgot Password?</a>
                        </p>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info btn-block") }}
                        </div>
                        <br>
                        <span>New doctor? <a href="{{ url_for('doctor_signup') }}">Request access</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Doctor Login Area -->

    <!-- Start Footer Area -->
    <section class="footer-area pt-100 pb-70">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Medical System</h3>
                        <p>Advanced AI-powered medical recommender system with telemedicine support for better healthcare delivery.</p>
                        <ul class="footer-social">
                            <li>
                                <a href="https://www.facebook.com/login/" target="_blank" class="facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/i/flow/login" target="_blank" class="twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/" target="_blank" class="pinterest">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" class="instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Quick Links</h3>
                        <ul class="footer-quick-links">
                            <li>
                                <a href="{{url_for('index')}}">Home</a>
                            </li>
                            <li>
                                <a href="{{url_for('about')}}">About</a>
                            </li>
                            <li>
                                <a href="{{url_for('services')}}">Services</a>
                            </li>
                            <li>
                                <a href="{{url_for('solution')}}">Solutions</a>
                            </li>
                            <li>
                                <a href="{{url_for('contact')}}">Contact</a>
                            </li>
                            <li>
                                <a href="{{url_for('doctor_login')}}">Doctor Portal</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget pl-5">
                        <h3>Doctor Resources</h3>
                        <ul class="footer-quick-links">
                            <li>
                                <a href="{{url_for('singleServices')}}">Telemedicine Guide</a>
                            </li>
                            <li>
                                <a href="{{url_for('singleServices')}}">Patient Management</a>
                            </li>
                            <li>
                                <a href="{{url_for('singleServices')}}">Medical Records</a>
                            </li>
                            <li>
                                <a href="{{url_for('singleServices')}}">Appointment System</a>
                            </li>
                            <li>
                                <a href="{{url_for('singleServices')}}">Continuing Education</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Contact</h3>
                        <div class="footer-info-contact">
                            <i class="flaticon-call"></i>
                            <h3>Phone</h3>
                            <span><a href="tel:+123456789">+263-776-060-788</a></span>
                        </div>
                        <div class="footer-info-contact">
                            <i class="flaticon-email"></i>
                            <h3>Email</h3>
                            <span><a href="mailto:doctors@medicalsystem.com">ichirume99@gmail.com</a></span>
                        </div>
                        <div class="footer-info-contact">
                            <i class="flaticon-pin"></i>
                            <h3>Address</h3>
                            <span>630 Churchill Avenue, Mt Pleasant Harare, Zimbabwe</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>
    <!-- End Footer Area -->

    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="fa fa-chevron-up"></i>
        <i class="fa fa-chevron-up"></i>
    </div>
    <!-- End Go Top Area -->

    <!-- dark version -->
    <div class="dark-version">
        <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
    </div>
    <!-- dark version -->

    <!-- Jquery Slim JS -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{{url_for('static', filename='sign-in/assets/js/jquery.min.js')}}"></script>
    <!-- Bootstrap JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/bootstrap.bundle.min.js')}}"></script>
    <!-- Meanmenu JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/jquery.meanmenu.js')}}"></script>
    <!-- Nice Select JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/jquery.nice-select.min.js')}}"></script>
    <!-- Odometer JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/odometer.min.js')}}"></script>
    <!-- Appear JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/jquery.appear.js')}}"></script>
    <!-- Datepicker JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/datepicker.min.js')}}"></script>
    <!-- Magnific JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/jquery.magnific-popup.min.js')}}"></script>
    <!-- Carousel JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/owl.carousel.min.js')}}"></script>
    <!-- Form Ajaxchimp JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/jquery.ajaxchimp.min.js')}}"></script>
    <!-- Form Validator JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/form-validator.min.js')}}"></script>
    <!-- Contact JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/contact-form-script.js')}}"></script>
    <!-- Custom JS -->
    <script src="{{url_for('static', filename='sign-in/assets/js/main.js')}}"></script>
</body>
</html>